@import "tailwindcss";

@theme {
  --font-display: "Satoshi", "sans-serif";
  --color-primary: #18181B;
  --color-secondary: #E4E4E7;
  --color-accent: #525252;
  --breakpoint-3xl: 120rem;
  --ease-fluid: cubic-bezier(0.3, 0, 0, 1);
  --ease-snappy: cubic-bezier(0.2, 0, 0, 1);
  /* ... */
}
